In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from scipy.spatial import distance
import warnings
warnings.filterwarnings('ignore')
data = pd.read_csv("SpotifyFeatures.csv")
data.head()

,genre,artist_name,track_name,track_id,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,Opera,Giuseppe Verdi,"Stiffelio, Act III: Ei fugge! … Lina, pensai c...",7EsKYeHtTc4H4xWiTqSVZA,21,0.986,0.313,490867,0.23100,0.000431,C#,0.0964,-14.287,Major,0.0547,86.001,4/4,0.0886
1,Opera,Giacomo Puccini,Madama Butterfly / Act 1: ... E soffitto e pareti,7MfmRBvqaW0I6UTxXnad8p,18,0.972,0.360,176797,0.20100,0.028000,D#,0.1330,-19.794,Major,0.0581,131.798,4/4,0.3690
2,Opera,Giacomo Puccini,"Turandot / Act 2: Gloria, gloria, o vincitore",7pBo1GDhIysyUMFXiDVoON,10,0.935,0.168,266184,0.47000,0.020400,C,0.3630,-8.415,Major,0.0383,75.126,3/4,0.0696
3,Opera,Giuseppe Verdi,"Rigoletto, Act IV: Venti scudi hai tu detto?",02mvYZX5aKNzdqEo6jF20m,17,0.961,0.250,288573,0.00605,0.000000,D,0.1200,-33.440,Major,0.0480,76.493,4/4,0.0380
4,Opera,Giuseppe Verdi,"Don Carlo / Act 4: ""Ella giammai m'amò!""",03TW0jwGMGhUabAjOpB1T9,19,0.985,0.142,629760,0.05800,0.146000,D,0.0969,-23.625,Major,0.0493,172.935,4/4,0.0382

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228159 entries, 0 to 228158
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   genre             228159 non-null  object
 1   artist_name       228159 non-null  object
 2   track_name        228159 non-null  object
 3   track_id          228159 non-null  object
 4   popularity        228159 non-null  int64
 5   acousticness      228159 non-null  float64
 6   danceability      228159 non-null  float64
 7   duration_ms       228159 non-null  int64
 8   energy            228159 non-null  float64
 9   instrumentalness  228159 non-null  float64
 10  key               228159 non-null  object
 11  liveness          228159 non-null  float64
 12  loudness          228159 non-null  float64
 13  mode              228159 non-null  object
 14  speechiness       228159 non-null  float64
 15  tempo             228159 non-null  float64
 16  time_signature    228159 non-null  object
 17  valence           228159 non-null  float64
dtypes: float64(9), int64(2), object(7)
memory usage: 31.3+ MB

## Normalization and One Hot Encoding

In [12]:
data = data.drop(["track_id","key","mode","time_signature"],1)
df = data.copy()
df = df.drop(["artist_name","track_name"],1)
col = ['popularity', 'acousticness', 'danceability', 'duration_ms',
       'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness',
       'tempo', 'valence']
scaler = StandardScaler()
df[col] = scaler.fit_transform(df[col])
encoder = OneHotEncoder(sparse=False, handle_unknown="ignore")
enc = pd.DataFrame(encoder.fit_transform(np.array(df["genre"]).reshape(-1,1)))
enc.columns = df["genre"].unique()
enc.head()

,Opera,A Capella,Alternative,Blues,Dance,Pop,Electronic,R&B,Children’s Music,Folk,...,Country,Reggaeton,Ska,Indie,Rock,Soul,Soundtrack,Jazz,World,Movie
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df[enc.columns] = enc
df = df.drop("genre",1)
df.head()

,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,...,Country,Reggaeton,Ska,Indie,Rock,Soul,Soundtrack,Jazz,World,Movie
0,-1.343388,1.806566,-1.311222,2.179132,-1.343051,-0.468048,-0.600265,-0.830223,-0.363690,-1.023107,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.517034,1.766724,-1.055716,-0.512624,-1.458180,-0.373777,-0.414456,-1.757175,-0.345437,0.468050,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-1.980089,1.661426,-2.099485,0.253472,-0.425852,-0.399765,0.753194,0.158166,-0.451738,-1.377199,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.574916,1.735419,-1.653709,0.445359,-2.206330,-0.469522,-0.480454,-4.054102,-0.399661,-1.332689,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-1.459152,1.803720,-2.240829,3.369523,-2.006964,0.029716,-0.597727,-2.402018,-0.392682,1.807477,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df["name"] = data["track_name"]
df["artist"] = data["artist_name"]

df_2 = df.drop(["artist","name"],1)

## Song finder

In [15]:
def sim_track_find(word,artist):
    a = 0
    b = 0
    song = []
    indexes = []
    for i in data["track_name"]:
        if word.lower() in i.lower() and artist.lower() in data["artist_name"][a].lower():
            song.append(df_2[a:a+1].values)
            indexes.append(a)
            b+=1
        a+=1
    if b == 0:
        print("Nothing found. Please try something else :)")
        return 0
        
    return song[0][0], indexes[0]

In [16]:
word = "ocean eyes"
artist = "billie"

sim_track_find(word,artist)

(array([ 2.41893446,  1.3227658 , -0.23483463, -0.31051347, -0.83648085,
        -0.36112545, -0.66321652,  0.28693215, -0.43724209,  0.8943927 ,
        -1.07986726,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ]),
 12802)

## Cosine Distance

In [17]:
def similar_tracks(number,song = "",artist = ""):

    if (sim_track_find(song,artist) == 0):
        return 0
    else:
        x=sim_track_find(song,artist)[0]
        index = sim_track_find(song,artist)[1]
    p = []
    count=0
    for i in df_2.values:
        p.append([distance.cosine(x,i),count])
        count+=1
    p.sort()
    song_names = df["name"]
    artist_names = df["artist"]

    print("\nSimilar songs to ",song_names[index]," by ", artist_names[index],"\n")
    for i in range(1,number+1):
        print(i,"- ",song_names[p[i][1]],", ",artist_names[p[i][1]])

In [19]:
song = "ocean eyes"
artist = "billie"
num = 5

similar_tracks(num,song,artist)

Similar songs to  ocean eyes  by  Billie Eilish

1 -  Abrázame Muy Fuerte ,  Juan Gabriel
2 -  I Can't Fall in Love Without You ,  Zara Larsson
3 -  idontwannabeyouanymore ,  Billie Eilish
4 -  Make It To Me ,  Sam Smith
5 -  Let It Go ,  James Bay

# Jaccard
    1 -  goosebumps ,  Travis Scott
    2 -  Young Dumb & Broke ,  Khalid
    3 -  Love Lies (with Normani) ,  Khalid
    4 -  Mine ,  Bazzi
    5 -  Ric Flair Drip (& Metro Boomin) ,  Offset

# Euclidean
    1 -  I Can't Fall in Love Without You ,  Zara Larsson
    2 -  idontwannabeyouanymore ,  Billie Eilish
    3 -  Let It Go ,  James Bay
    4 -  Little Do You Know ,  Alex & Sierra
    5 -  Someone Like You ,  Adele

# Cosine
    1 -  Abrázame Muy Fuerte ,  Juan Gabriel
    2 -  I Can't Fall in Love Without You ,  Zara Larsson
    3 -  idontwannabeyouanymore ,  Billie Eilish
    4 -  Make It To Me ,  Sam Smith
    5 -  Let It Go ,  James Bay